<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>@RenderSection("Title", true)</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet"
          type="text/css"
          href="@Url.Content("~/css/styles.css")" />

    <script type="text/javascript"
            src="@Url.Content("~/scripts/main.js")"></script>

    <style>
        .navbar-custom {
            background-color: #154360;
        }
        /* change the brand and text color */
        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: rgba(255,255,255,.8);
        }
        /* change the link color */
        .navbar-custom .navbar-nav .nav-link {
            color: rgba(255,255,255,.5);
        }
        /* change the color of active or hovered links */
        .navbar-custom .nav-item.active .nav-link,
        .navbar-custom .nav-item:hover .nav-link {
            color: #ffffff;
        }
    </style>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar-custom" style="color: #154360;">
    <a class="navbar-brand" 
       href="@Url.Action("Index", "Home")">KMS Calendar</a>
    <button class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" 
         id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" 
             href="@Url.Action("Index", "Home")">Home 
            <span class="sr-only city">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
             href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
             href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" 
             href="#" tabindex="-1" 
             aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>

  <div style="padding-top: 50px;">
    @RenderBody()
  </div>
</body>

</html>